<h2 align= "center">Title: <%= @event.title%></h2>

<div class= "a-ctr">
  <div class= "well col-xs-8 col-offset-4">
    <h4><strong>Description:</strong></h4>
    <%= simple_format(@event.description) %>
    <hr>

    <h4><strong>Location:</strong></h4>
    <%= simple_format(@event.location) %>
    <hr>

    <h4><strong>Date:</strong></h4>
    <%= @event.date %> 
  </div>
</div>