<h1>Showing selected event</h1>

<p>
  Title: <%= @event.title%>
</p>
<p>
  Description: <%= @event.description%>
</p>
<p>
  Location: <%= @event.location%>
</p>
<p>
  Date: <%= @event.date%>
</p>
