@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #777;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #000;
    text-decoration: none;
}

.center {
    text-align: center;
}

.footer {
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #eaeaea;
    color: #777;
    text-align: center;
  }