<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy <a href = "https://github.com/enkog/private-events">ONMA</a>
            by <a href = "https://www.linkedin.com/in/enkog/">Oguadinma Nkiruka</a>
        </small>
    </footer>
</div>